.main {
	width: 40%;
	// min-height: 50vh;
	@include positioning(relative, -200px, 50%);
	transform: translate(-50%);
	@include mq(970px) {
		width: 60%;
	}
	@include mq(600px) {
		width: 80%;
	}
	@include mq(440px) {
		top: -150px;
	}
	&__heading {
		display: flex;
		@include flex();
		justify-content: space-between;
	}
	&__title {
		color: map-get($lightThemeColors, veryLightGray);
		font-size: 3.5rem;
		text-transform: uppercase;
		letter-spacing: 12px;
	}
	&__btn {
		@include btn();
		transition: 0.3s;
		&:hover {
			transform: scale(1.2);
		}
	}
	&__form {
		display: flex;
		@include flex();
		height: 7vh;
		min-height: 7vh;
		margin-top: 4em;
		background-color: map-get($darkThemeColors, veryDarkDesaturatedBlue);
		border-radius: 10px;
		.form__image {
			display: flex;
			@include flex();
			flex-basis: 10%;
			height: 100%;
			@include mq(440px) {
				flex-basis: 20%;
			}
		}
		.form__input {
			flex-basis: 90%;
			height: 100%;
			min-height: 100%;
			padding-left: 1em;
			background-color: transparent;
			border: none;
			outline: none;
			font-size: 1.5rem;
			color: map-get($lightThemeColors, lightGrayishBlue);
			@include mq(440px) {
				padding-left: 0;
			}
		}
		.form__btn {
			@include WH(30px, 30px);
			display: flex;
			@include flex();
			border-radius: 50%;
			background-color: transparent;
			cursor: pointer;
			border: 1px solid map-get($darkThemeColors, veryDarkGrayishBlue);
			&-img {
				@include WH(50%, 50%);
				height: 50%;
				width: 50%;
			}
			@include mq(440px) {
				@include WH(25px, 25px);
			}
		}
	}
	&__todos {
		position: relative;
		margin-top: 2em;
		padding-bottom: 7vh;
		background-color: map-get($darkThemeColors, veryDarkDesaturatedBlue);
	}
}

.todo__btn.active,
.form__btn.active {
	background-image: linear-gradient(
		to right,
		map-get($primaryColors, checkBackgroundGradient),
		map-get($primaryColors, checkBackgroundGradientSecond)
	);
}

@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
	.main {
		top: -100px;
	}
}
