.other {
	display: flex;
	@include flex();
	@include WH(100%, 7vh);
	position: absolute;
	bottom: 0;
	justify-content: space-between;
	&__items {
		padding-left: 2em;
		font-size: 1.2rem;
		color: map-get($lightThemeColors, lightGrayishBlue);
	}
	&__filters {
		display: flex;
		justify-content: space-around;
		width: 40%;
		@include mq(600px) {
			display: none;
		}
		&-btn {
			@include btn();
			transition: 0.3s;
			&:hover {
				color: map-get($primaryColors, brightBlue);
			}
		}
	}
	&__clear {
		@include btn();
		padding-right: 2em;
		transition: 0.3s;
		&:hover {
			color: map-get($primaryColors, brightBlue);
		}
	}
}

.other__filters--mobile {
	display: none;
	@include mq(600px) {
		display: flex;
		justify-content: space-around;
		height: 7vh;
		margin-top: 2em;
		background-color: map-get($darkThemeColors, veryDarkDesaturatedBlue);
		border-radius: 10px;
		border: 1px solid map-get($darkThemeColors, veryDarkBlue);
	}
}
