body[data-theme='light'] {
	.wrapper {
		background-color: map-get($lightThemeColors, veryLightGray);
		.main {
			&__form {
				background-color: map-get($lightThemeColors, veryLightGrayishBlue);
				.form__input {
					color: map-get($darkThemeColors, veryDarkBlue);
				}
			}
			&__todos {
				background-color: map-get($lightThemeColors, veryLightGrayishBlue);
			}
		}
	}
	.todo__item-value {
		color: map-get($darkThemeColors, veryDarkBlue);
	}
	.other > * {
		color: map-get($darkThemeColors, veryDarkBlue);
	}
	.other__filters-btn {
		color: map-get($darkThemeColors, veryDarkBlue);
	}
}
