.todo {
	display: flex;
	@include flex();
	justify-content: space-between;
	height: 7vh;
	border: 1px solid map-get($darkThemeColors, veryDarkBlue);
	animation: fade 0.3s ease;
	& > * {
		height: 100%;
	}
	&__image {
		display: flex;
		@include flex();
		flex-basis: 10%;
		height: 100%;
		@include mq(440px) {
			flex-basis: 20%;
		}
	}
	&__btn {
		display: flex;
		@include flex();
		@include WH(30px, 30px);
		border-radius: 50%;
		background-color: transparent;
		border: 1px solid map-get($darkThemeColors, veryDarkGrayishBlue);
		cursor: pointer;
		&-img {
			@include WH(50%, 50%);
		}
		@include mq(440px) {
			@include WH(25px, 25px);
		}
	}
	&__item {
		display: flex;
		@include flex();
		justify-content: flex-start;
		flex-basis: 80%;
		padding-left: 1em;
		@include mq(440px) {
			padding-left: 0;
		}
		&-value {
			font-size: 1.5rem;
			color: map-get($lightThemeColors, lightGrayishBlue);
		}
	}
	&__delete {
		display: flex;
		@include flex();
		flex-basis: 10%;
		height: 100%;
		@include mq(440px) {
			flex-basis: 20%;
		}
		.delete__btn {
			@include btn();
			border-radius: 50%;
			transition: 0.3s;
			&:hover {
				transform: scale(1.2);
			}
		}
	}
}

.complete {
	text-decoration: line-through;
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes remove {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
